.logo {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(45px);
  font-weight: 900;
  letter-spacing: rem(-1px);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(35px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(25px);
  }
}

.logoWhite {
  color: var(--mantine-color-white);
  font-size: rem(45px);
  font-weight: 900;
  letter-spacing: rem(-1px);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(35px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(25px);
  }
}

.stepNumber {
  color: var(--mantine-color-white);
  font-size: rem(55px);
  font-weight: 900;
  letter-spacing: rem(-1px);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(45px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(35px);
  }
}

.header {
  background-color: light-dark(var(--mantine-color-white), #000422);
}

.title {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  font-size: rem(85px);
  font-weight: 900;
  letter-spacing: rem(-2px);
  padding-top: 0;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(65px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(40px);
  }
}

.formTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(30px);
  font-weight: 400;
  letter-spacing: rem(0px);
  padding-top: 0;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(25px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20px);
  }
}

.subtitle {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  font-size: rem(30px);
  font-weight: 700;
  letter-spacing: rem(0px);
  padding-top: 0;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(25px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20px);
  }
}

.cardTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(25px);
  font-weight: 700;
  letter-spacing: rem(0px);
  padding-top: 15px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(20px);
  }
}

.cardSubtitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(20px);
  font-weight: 600;
  letter-spacing: rem(0px);
  padding-top: 0;
  padding-bottom: 5px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(15px);
  }
}

.stepCardTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(30px);
  font-weight: 750;
  letter-spacing: rem(-1px);
  padding-top: 5px;
  padding-bottom: 5px;
  /* text-align: center; */
  /* padding-left: 5px; */

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(25px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20px);
  }
}

.stepCardBody {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(20px);
  font-weight: 500;
  letter-spacing: rem(0px);
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 5px; */

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(15px);
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(13px);
  }
}

.body {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(15px);
  font-weight: 500;
  letter-spacing: rem(0px);
  padding-top: 5px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(12px);
  }
}

.bodyHighlighted {
  color: var(--mantine-color-grape-6);
  font-size: rem(15px);
  font-weight: 500;
  letter-spacing: rem(0px);
  padding-top: 5px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(12px);
  }
}

.bodyItalic {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(12px);
  font-weight: 500;
  letter-spacing: rem(0px);
  padding-top: 5px;
  font-style: oblique;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(10px);
  }
}

.highlighted {
  color: var(--mantine-color-grape-6);
}

.imageAttribution {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  font-size: rem(8px);
  font-weight: 200;
  letter-spacing: rem(0px);
  padding-top: 0px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(4px);
  }
}

.darkBox {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
  padding-left: 12px;
  padding-right: 12px;
}

.lightBox {
  background-color: light-dark(var(--mantine-color-light), var(--mantine-color-dark));
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

/* user card */
.card {
  position: relative;
  /* height: 500px; */
  width: 350px;
  background-color: var(--mantine-color-body);
}

/* carousel cards */
.carouselCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-size: cover;
  background-position: center; */
}

.cardTitle {
  font-weight: 900;
  color: var(--mantine-color-white);
  font-size: rem(32px);
}

.cardCaption {
  color: var(--mantine-color-white);
  font-weight: 700;
  /* text-transform: uppercase; */
}
